.woocommerce-page {
    .woocommerce-breadcrumb {
        padding: 1.41575em 0;
        background-color: #f8f8f8;
        text-align: center;
        a {
            color: $color-primary;
        }
    }
    .single-blog__fullwidth {
        .blog-wrapper {
            @include make-col-ready();
            @include make-col(12);
            @include breakpoint(992) {
                @include make-col(12);
                @include make-col-offset(0);
            }
        }
    }
    .entry-header {
        margin-bottom: 30px;
    }
    .col2-set {
        .col-1,
        .col-2 {
            max-width: none;
            flex: none;
        }
    }
    .woocommerce {
        label {
            margin-bottom: 10px;
        }
    }
    .select2-container {
        .select2-dropdown--below {
            margin-top: -26px;
        }
    }
    .site-content>.col-full>.woocommerce {
        >.woocommerce-error:first-child,
        >.woocommerce-info:first-child,
        >.woocommerce-message:first-child {
            margin-top: 2.617924em;
        }
    }
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message,
    .woocommerce-noreviews,
    p.no-comments {
        padding: 1em 1.618em;
        margin-bottom: 2.617924em;
        background-color: $color-primary;
        margin-left: 0;
        border-radius: 2px;
        border-left: .6180469716em solid rgba(0, 0, 0, .15);
    }
    .woocommerce-error,
    .woocommerce-message {
        color: #fff!important;
        a {
            color: #fff;
        }
    }
    .woocommerce-error {
        background-color: #f72929!important;
    }
}
