p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: $color-black;
}

h1 {
    font-size: em(48);
    line-height: em(56);
    font-weight: 400;
    text-transform: uppercase;
    @include font-face($font-oswald);
    color: $color-primary;
}

h2 {
    color: $color-black;
    font-size: em(34);
    font-weight: 400;
    @include font-face($font-oswald);
    line-height: em(42);
    text-transform: uppercase;
}

h3 {
    font-size: em(24);
    line-height: em(32);
    font-weight: 400;
    text-transform: uppercase;
    @include font-face($font-oswald);
}

h4 {
    font-size: em(28);
    line-height: em(36);
    @include font-face($font-roboto);
    font-weight: 500;
}

h5 {
    font-size: em(21);
    line-height: em(30);
    @include font-face($font-roboto);
    font-weight: 500;
}

h6 {
    font-size: em(18);
    line-height: em(28);
    font-weight: 500;
    @include font-face($font-roboto);
}

p {
    font-size: em(16);
    line-height: em(28);
    @include font-face($font-roboto);
    font-weight: 300;
}
