/*=================================================
Products
=================================================*/

.products-page-list {
    .products-sidebar {
        @include make-col-ready();
        @include make-col(12);
        @include breakpoint(992) {
            @include make-col(3);
        }
        @media only screen and (max-width: 767px) {
            max-width: 400px;
            margin-right: auto;
            margin-left: auto;
        }
        @media only screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
        .filter {
            @media screen and (min-width: 768px) and (max-width: 991px) {
                display: flex;
                justify-content: space-evenly;
            }
        }
        .products-filter {
            border: 1px solid #ddd;
            padding: 25px;
            margin-bottom: 25px;
            @media only screen and (max-width: 767px) {
                text-align: center;
            }
            @media screen and (min-width: 768px) and (max-width: 991px) {
                flex: 0 0 45%;
            }
            .products-filter__title {
                font-size: 16px;
                margin-bottom: 30px;
                font-weight: 500;
                @include font-face(oswald);
                text-transform: uppercase;
            }
            li {
                button {
                    color: #727273;
                    background: transparent;
                    margin-bottom: 16px;
                    transition: .3s;
                    &.active {
                        color: $color-primary;
                    }
                    &:hover {
                        color: $color-primary;
                    }
                }
                &:last-child {
                    button {
                        margin-bottom: 0;
                    }
                }
            }
            .products-filter__list button {
                color: #727273;
                background: transparent;
                margin-bottom: 16px;
            }
        }
    }
    /*=============== Range slider ===============*/
    .range-slider {
        zoom: 1;
        margin: 40px 0 0;
        padding-top: 30px;
        position: relative;
        text-align: center;
        &:before {
            content: " ";
            display: table;
        }
        &:after {
            content: " ";
            display: table;
            clear: both;
        }
        .track {
            bottom: 15px;
            height: 6px;
            left: 0;
            margin-bottom: -3px;
            position: absolute;
            width: 0;
            z-index: 50;
        }
        .track--full {
            background: #ebebeb;
            width: 100%;
            border-radius: 100px;
        }
        .track--included {
            background: #47b749;
            border-radius: 3px;
        }
        .slider-thumb {
            background: #c2c5d2;
            border-radius: 50%;
            cursor: pointer;
            display: none;
            height: 18px;
            left: 0;
            bottom: 7px;
            position: absolute;
            width: 18px;
            z-index: 101;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                display: block;
            }
        }
        & [type=range] {
            -webkit-appearance: none;
            background: none;
            height: 30px;
            margin: 0;
            outline: none;
            padding: 0;
            pointer-events: none;
            position: relative;
            width: 100%;
            z-index: 75;
        }
        & [type=range]::-ms-thumb {
            pointer-events: all;
        }
        .range-slider [type=range]::-ms-thumb {
            background: #555;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            height: 30px;
            margin-top: 0;
            pointer-events: all;
            position: relative;
            width: 30px;
            z-index: 100;
        }
        & [type=range]:focus {
            outline: none;
        }
        & [type=range]::-moz-focus-outer {
            border: 0;
        }
        & [type=range]:first-of-type {
            float: left;
            margin-bottom: -30px;
        }
        & [type=range]:last-of-type {
            float: right;
            margin-bottom: 0;
        }
        & [type=range]::-webkit-slider-runnable-track {
            background: none;
            border: 0;
            height: 6px;
            z-index: -1;
        }
        & [type=range]::-ms-fill-lower {
            background: none;
            border: 0;
        }
        & [type=range]::-ms-fill-upper {
            background: none;
            border: 0;
        }
        & [type=range]::-ms-track {
            background: transparent;
            border: 0;
            border-color: transparent;
            color: transparent;
            height: 6px;
            z-index: -1;
        }
        & [type=range]:focus::-ms-fill-lower {
            background: none;
            border: 0;
        }
        &[type=range]:focus::-ms-fill-upper {
            background: none;
            border: 0;
        }
        & [type=range]::-moz-range-track {
            -moz-appearance: none;
            background: none;
            border: 0;
            height: 6px;
            z-index: -1;
        }
        input {
            @include range-thumb {
                -webkit-appearance: none;
                background: #c2c5d2;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
                height: 18px;
                margin-top: -6px;
                outline: 0;
                pointer-events: all;
                position: relative;
                width: 18px;
                z-index: 100;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    display: none;
                }
            }
        }
        .output,
        & output {
            background: #fff;
            padding: 5px 0;
            color: #727272;
            display: inline-block;
            position: absolute;
            text-align: center;
            top: 0;
            font-size: em (16);
        }
    }
}
